@import '../../utils/typographies';


.container-button-2 {
    width: 450px;
    height: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;

    .container-bloc-button {
        width: 100%;
        height: auto;

        .placement-button {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            input {
                width: 15%;
                height: auto;
                text-align: center;
                font-size: 15px;
                font-family: $police-paragraphe-apropos;
                font-weight: 600;
            }

            .buttonCss-3 {
                width: 120px;
                height: 40px;
                font-size: 12px;
                font-family: $police-input;
                font-weight: 600;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(145deg, #ffffff, #ffffff);
                border: 1px solid #e8e8e8;
                transition: all .3s;
                box-shadow: 10px 10px 10px #7c7c7c,
                    -24px -24px 50px #ffffff;
                    cursor: pointer;
            }

            .buttonCss-3:active {
                color: #666;
                box-shadow: inset 23px 23px 46px #e79e9e,
                    inset -23px -23px 46px #fafafa;
            }
        }
    }

}