// typo titre
$police-titre:'Caveat', cursive;

// typo paragraphe
$police-paragraphe:'Roboto', sans-serif;

// typo paragraphe a-propos
$police-paragraphe-apropos:'Handlee', cursive;

// typo input
$police-input:'Varela Round', sans-serif;

$color-Bg-Header: #ffffff;
$color-container-bg: #f7f7f7;
$color-text: #e0e0e0;
$color-text_black: #000000;
$color-text_white: #FFFFFF;
$color-chevron: #FFFFFF;